


# Python
*.pyc
*~
__pycache__
media/
static/


# Env
virtualenv/
myvenv/
venv/
env/
postgres_data/

# Database
db.sqlite3
*.sql

# Static folder at project root
/static/

# macOS
._*
.DS_Store
.fseventsd
.Spotlight-V100


# Visual Studio
.vscode/
.history/
*.code-workspace


